/* */
@font-face {
	font-family: "Mercury";
	src: url(../fonts/mercury-g4-roman.otf);
	font-weight: normal;
}
html { 
/*	background: #283D58;
	color: #fff;
	*/
}
body {
	width: 960px;
	font-family: "Mercury", Georgia, serif;
	font-size: 255%;
	padding-left: 50px;
}

* {
	font-size: 1.4rem;
}

#xslider, #yslider {
	width: 500px;
}
#radar {
    width: 200px;
    height: 200px;
    border: 1px solid rgba(168,219,168, 1);
    overflow: hidden;
		position: absolute;
		bottom: 35px;
    left: 25px;
}
p#total, p#total * {
	font-size: .5rem;
}
p#total {
	position: absolute;
	width: 200px;
	text-align: right;
	bottom: 5px;
	left: 25px;
}
#blur {
	width: 95%;
}
#blur li {
	list-style: none;
	font-size: 2.4em;
}
div.user {
	position: relative;
	width: 15px;
	height: 15px;
	border-radius: 15px;
	text-align: center;
	background: #3B8686;
}

a[href="http://zigfu.com/watermark"] {
	position:absolute;
	left: 4000px;
	bottom: 50px;
}
