/* 

 0. Universal styles
 1. Radar 
 2. Thoughts
 3. Zigfu
*/

/* 0. Universal */

@font-face {
	font-family: "Mercury";
	src: url(../fonts/mercury-g4-roman.otf);
	font-weight: normal;
}
html { 
	background: #283D58;
	color: #fff;
}
body {
	width: 960px;
	font-family: "Mercury", Georgia, serif;
	font-size: 255%;
}

* {
	font-size: 1.4rem;
}
/* 1. Radar */
#radar {
    width: 200px;
    height: 200px;
    border: 1px solid rgba(168,219,168, 1);
    overflow: hidden;
	position: absolute;
	bottom: 35px;
    left: 25px;
}
p#total, p#total * {
	font-size: .5rem;
}
p#total {
	position: absolute;
	width: 200px;
	text-align: right;
	bottom: 5px;
	left: 25px;
}
/* 2. Thoughts */
#blur {
	width: 95%;
}
#blur li {
	list-style: none;
	font-size: 2.4em;
}
div.user {
	position: relative;
	width: 15px;
	height: 15px;
	border-radius: 15px;
	text-align: center;
	background: #3B8686;
}


iframe {
  width: 900px;
  height: 350px;
  overflow: hidden;
  border: none !important;
  z-index: 9;
}
li {
  position: absolute;
}

li .th {
  position: relative;
  top: 155px;
  text-align: center;
  z-index: 999;
}
@-webkit-keyframes fadeout {
  from { opacity: 1}
  to   { opacity: 0; }
}
.fadeitout {
  -webkit-animation: fadeout 20s;
  -webkit-animation-fill-mode: forwards;
  -webkit-transition-timing-function: cubic-bezier(0, 1.185, 0.115, 1.640);
}
/* 3. Zigfu */
a[href="http://zigfu.com/watermark"] {
	position:absolute;
	left: 4000px;
	bottom: 50px;
}
